
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstLevels = (List<ProjectSEM3.Models.Entities.Level.Res>)ViewData["lstLevels"];
    var lstCountries = (List<ProjectSEM3.Models.Entities.Country>)ViewData["lstCountries"];
    var lstJobs = (List<ProjectSEM3.Models.Entities.Job.Res>)ViewData["lstJobs"];

}

<main>
    @*-----------------------------------
                Hero Section
        -------------------------------------*@
    <section class="job-hero-section ds"></section>

    @*-----------------------------------
               Banner Section
        -------------------------------------*@
    <div class="job-search-wrapper container-fluid d-flex align-items-center justify-content-center">
        <div class="searchControllerContainer container d-flex flex-column justify-content-center">
            @*-----------------------------------
                    Search Section
                -------------------------------------*@
            <div class="search-section d-flex">
                @*----- Search box -----*@
                <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
                    <div class="d-flex align-items-center">
                        <div class="d-flex form-group has-placeholder col-12">
                            <div class="d-flex" style="position: absolute; margin-left: .4rem; margin-top: 1.1rem;">
                                <i class="fa fa-search" style="width: 24px; height: 24px;"></i>
                            </div>
                            <input type="text" aria-required="true" size="30" value="" name="" id="" class="form-control" placeholder="Search by job title or key word" style="border-radius: 2px;">
                        </div>
                    </div>
                </div>
                @*----- Search location -----*@
                <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                    <div class="d-flex align-items-center">
                        <div class="d-flex form-group has-placeholder col-12">
                            <select id="selCountries" name="lstCountries" multiple placeholder="City, state, or country" data-search="true" data-silent-initial-value-set="true" style="padding: 0">
                                @foreach (var item in lstCountries as List<ProjectSEM3.Models.Entities.Country>)
                                {
                                    <option>@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                @*----- Search Button -----*@
                <div class="col-lg-4 col-md-2 col-sm-12 mt-2">
                    <div class="d-flex align-items-center">
                        <button class="btn searchBtn" type="button" style="border-radius: 2px">Search</button>
                    </div>
                </div>
            </div>
            @*-----------------------------------
                    Filter Section
                -------------------------------------*@
            <div class="filter-section container d-flex">
                <div id="filter-wrapper" class="filter-wrapper">
                    <div class="filter-container d-flex align-items-center justify-content-center">
                        <div class="d-flex align-items-center col-lg-6 col-md-6 col-sm-12 mb-2" style="margin-left: -5px;">
                            <select id="selExperience" name="experience" placeholder="Experience" data-search="false" data-silent-initial-value-set="true">
                                @foreach (var item in lstLevels)
                                {
                                    <option data-value="@item.Name">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="d-flex align-items-center col-lg-6 col-md-6 col-sm-12 mb-2">
                            <select id="selProfessions" name="profession" placeholder="Profession" data-search="false" data-silent-initial-value-set="true">
                                <option data-value="Software Engineering">Software Engineering</option>
                                <option data-value="Project Manager">Project Manager</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            @*-----------------------------------
                    Display Choice Section
                -------------------------------------*@
            <div id="displayChoiceContainer" class="displayChoice-section container d-flex" style="padding: 0 48px;">
                <div id="experienceChoiceWrapper" class="choice-wrapper me-3" style="display: none">
                    <span id="experienceText"></span>
                    <button id="experienceDeleteBtn" class="btn delete-btn" style="color: #605e5c; font-size: 12px">X</button>
                </div>
                <div id="professionChoiceWrapper" class="choice-wrapper me-3" style="display: none">
                    <span id="professionText"></span>
                    <button id="professionDeleteBtn" class="btn delete-btn" style="color: #605e5c; font-size: 12px">X</button>
                </div>
            </div>
        </div>

    </div>

    @*-----------------------------------
               Content Section
        -------------------------------------*@
    <div class="job-list-section container-fluid" style="margin-top: 3rem; padding: 0 5rem;">
        <div class="jobs-list-wrapper d-flex flex-column align-items-center col-lg-5 col-md-12 col-sm-12 me-5">
            @*----- Heading -----*@
            <div id="jobListHeadingWrapper" class="jobListHeadingWrapper col-12">
                <div class="jobListHeadingContainer">
                    <div class="d-flex align-items-center">
                        <h1 style="font-size: 18px; font-weight: 400">Showing 1-10 of 50 results</h1>
                    </div>
                    <div class="sort-wrapper d-flex align-items-center">
                        <div class="d-flex align-items-center">Sort</div>
                        <div>
                            <select class="form-select">
                                <option>Most Relevant</option>
                                <option>Most Recent</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            @*----- Jobs List -----*@
            <div id="jobListWrapper" class="jobListWrapper col-12">
                <div id="jobListContainer" class="jobListContainer d-flex flex-column align-items-center" onscroll="scroll()"></div>
            </div>
        </div>
        <div id="job-detail-wrapper" class="job-detail-wrapper d-flex align-items-center justify-content-center col-lg-7 col-md-12 col-sm-12">
            <input id="jobDetailContent" value="no" hidden />
        </div>
    </div>
</main>

<link href="~/Content/virtual-select.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/virtual-select.min.js"></script>
@section scripts {
    <script>
    VirtualSelect.init({
        ele: '#selCountries',
    });
    VirtualSelect.init({
        ele: '#selExperience',
        dropboxWidth: "250px",

    });
    VirtualSelect.init({
        ele: '#selProfessions',
        dropboxWidth: "250px",

    });

    /* -----------------------------------
        Display Choice
    -------------------------------------*/
    var displayChoice = document.getElementById("displayChoiceContainer");
    var selExperience = document.getElementById("selExperience");
    var selProfessions = document.getElementById("selProfessions");
    var selectedExperience = document.getElementById("experienceChoiceWrapper");
    var selectedProfessions = document.getElementById("professionChoiceWrapper");
    var experienceText = document.getElementById("experienceText");
    var professionText = document.getElementById("professionText");
    var experienceDeleteBtn = document.getElementById("experienceDeleteBtn");
    var professionDeleteBtn = document.getElementById("professionDeleteBtn");

    selExperience.addEventListener("click", () => {
        var selected = selExperience.getElementsByTagName("input")[0].value;
        console.log(selected)
        if (selected == "") {
            selectedExperience.style.display = "none";
        }
        else {
            selectedExperience.style.display = "inline";
            experienceText.innerHTML = selected;
        }
    });
    selProfessions.addEventListener("click", () => {
        var selected = selProfessions.getElementsByTagName("input")[0].value;
        console.log(selected)

        if (selected == "") {
            selectedProfessions.style.display = "none";
        }
        else {
            selectedProfessions.style.display = "inline";
            professionText.innerHTML = selected;
        }
    });
    experienceDeleteBtn.addEventListener("click", () => {
        selectedExperience.style.display = "none";
    });
    professionDeleteBtn.addEventListener("click", () => {
        selectedProfessions.style.display = "none";
    });
    /* -----------------------------------
        Display Choice
    -------------------------------------*/
        var jsonJobList = @Html.Raw(Json.Encode(lstJobs))
        localStorage.setItem("jobList", JSON.stringify(jsonJobList));
        var data = JSON.parse(localStorage.getItem("jobList"));
        var jobListContainer = document.getElementById("jobListContainer");
        var subContent = document.getElementById("subContent");
        let out = '';

        data.forEach(displayJobList);
        function displayJobList(job, index) {
            var row = `
                 <div class="listItem d-flex">
                    <div class="jobDetailHeading d-flex flex-column">
                        <div class="d-flex">
                            <div style="position: absolute; right: 0; margin-top: 2%; margin-right: 3%; color: rgb(92, 27, 134); z-index: 1;">
                                <img src="https://localhost:44376/Content/img/icons/save.png" style="width: 1.5rem; height: 1.5rem;" />
                            </div>
                            <h2 class="listItemHeading">${job.Title}</h2>
                        </div>

                        <div class="listItemHeadingIcon d-flex">
                            <div class="d-flex flex-row">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-clock-four" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                    <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">${job.EndDateTimeStamp.substring(0, 9) }</span>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-location" style="color: rgb(100, 100, 100); height: 14px; width: 14px;"></i>
                                    <span style="font-weight: 400; font-size: 14px; font-style: normal; color: rgb(23, 23, 23); margin-left: 5px;">${job.Location}</span>
                                </div>
                            </div>
                        </div>
                        <div class="jobDescription d-flex flex-wrap align-items-center" style="margin-top: 17px; margin-left: 3%; padding: 0px; font-style: normal; font-weight: 400; font-size: 14px; margin-right: 3%; color: rgb(100, 100, 100);">
                            <span id="subContent" style="display: flex; flex-wrap: wrap; font-size: 14px; font-weight: 400; color: rgb(50, 49, 48);">${decodeURI(data[index].Content).substring(20, 250)}</span>
                        </div>
                        <div class="d-flex" style="padding-top: 16px; padding-bottom: 3%; padding-left: 1%; min-width: 140px;">
                            <button value=${job.Id} class="btn jobDetailBtn" onclick="BtnJobDetailOnClick(event)" style="font-style: normal; color: rgb(92, 27, 134); font-weight: 400; font-size: 14px; height: 20px; width: fit-content;">See Details</button>
                        </div>
                    </div>
                </div>
            `;
            out += row;
        };

        jobListContainer.innerHTML = out;


    /* -----------------------------------
        Display Job Detail Content
    -------------------------------------*/
        var jobContent = document.getElementById("jobDetailContent");
        let jobDetailWrapper = document.getElementById("job-detail-wrapper");

        const BtnJobDetailOnClick = (e) => {

            const localJobs = JSON.parse(localStorage.getItem("jobList"));
            const job = localJobs.find(x => x.Id == e.target.value);

            jobDetailWrapper.innerHTML = `
                <div class="jobDetailContainer d-flex align-items-center" style="padding: 16px; margin-top: -1rem; box-shadow: 0px 1.6px 3.6px rgba(0,0,0,.132), 0px 0.3px 0.9px rgba(0,0,0,.108); border-radius: 2px;">
                    <div class="d-flex flex-column justify-content-start col-12" style="margin: 0; padding: 0; max-height: 720px; overflow-y: scroll; overflow-x: hidden;">
                        <input type='text' id='currentJob' hidden/>
                            @Html.Partial("~/Views/Career/JobDetail.cshtml")
                    </div>
                </div>

            `;
            $("#overView")[0].innerHTML = decodeURI(job.Content);
            $("#qualifications")[0].innerHTML = decodeURI(job.Qualification);
            $("#location")[0].innerHTML = job.Location;
            $("#title")[0].innerHTML = job.Title;
            $("#datePosted")[0].innerHTML = job.EndDateTimeStamp.substring(0, 9);

            // setup modal
            $("#jobId").val(job.Id)
        };
        if (jobContent.value === "no") {
            jobDetailWrapper.innerHTML = `
                <div class="d-flex flex-column align-content-center justify-content-center">
                    <img src="https://localhost:44376/Content/img/icons/paper.png" style="width: 230px; height: 230px" />
                    <h1 class="d-flex align-items-center justify-content-center mt-3" style="color: rgb(50, 49, 48); font-weight: 600; font-size: 26px;">Select a job</h1>
                    <span class="d-flex align-items-center justify-content-center">Mothing is selected</span>
                </div>
            `;
        };

    /* -----------------------------------
        Apply Job Modal
    -------------------------------------*/
        var headerBtn = document.getElementById("headerButton");
        var icon = document.getElementById('iconChevron');

        var btnUpload = document.getElementById("addFileContainer");
        var cv = document.getElementById("cvInput");
        var result = document.getElementById('resultInput');
        var noti = document.getElementById('notiInput');

        var job = document.getElementById("job");
        var contName = document.getElementById("contName");
        var contEmail = document.getElementById("contEmail");
        var contPhone = document.getElementById("contPhone");
        var formData = new FormData();
        var submitBtn = document.getElementById("applyBtn");

        var cvName = document.getElementById("cvFileName");
        /*-----------------------------------
            Prevent image upload & restrict file's size
        -------------------------------------*/
        cv.addEventListener("change", e => {
            const file = cv.files[0];
            const type = cv.files[0].type.substring(12);
            noti.innerHTML = "";
            noti.innerHTML = "";
            cvName.innerHTML = "";

            if (type.localeCompare("pdf") === 0 && file.size < 5000 * 1024) {
                result.value = 'rightType';
                cvName.innerHTML = `
                            <table class="table table-borderless m-0 p-0">
                                <tr>
                                    <td>
                                        <img src="https://localhost:44376/Content/img/icons/file.png" style="height: 20px; width: 20px; margin-right: .5rem; color: black"/>
                                        ${cv.files[0].name}
                                    </td>
                                    <td>
                                        <button type="button" onclick="deleteFileRow()" class="btn" style="background-color: transparent; border: none; color: rgb(92, 27, 134)">
                                            <img src="https://localhost:44376/Content/img/icons/bin.png" style="width: 14px; height: 14px;"/>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        `;
            }
            else {
                result.value = 'falseType';
                if (type.localeCompare("pdf") !== 0) {
                    noti.innerHTML = 'File must be .pdf extension';
                    noti.style.color = "rgb(92, 27, 134)";
                }
                if (file.size > 5000 * 1024) {
                    noti.innerHTML = 'File exceeds 5Mb';
                    noti.style.color = "red";
                }
            }
        })

        /*-----------------------------------
            Open upload file dialog
        -------------------------------------*/
        btnUpload.addEventListener("click", () => {
            cv.click();
        });

        /*-----------------------------------
            Change chevron icon
        -------------------------------------*/
        headerBtn.addEventListener("click", () => {
            if (headerBtn.getAttribute("aria-expanded") === "true") {
                icon.classList.remove("fa-chevron-down");
                icon.classList.add("fa-chevron-up");
            }
            if (headerBtn.getAttribute("aria-expanded") === "false") {
                icon.classList.remove("fa-chevron-up");
                icon.classList.add("fa-chevron-down");
            }
        });

        /*-----------------------------------
            Delete File Row
        -------------------------------------*/
        function deleteFileRow() {
            cvName.innerHTML = "";
            cv.value = "";
        }
        deleteFileRow();


    </script>
}
