<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_HeadPartial")
    <title>@ViewData["Title"] Admin</title>
</head>
<body>
    @Html.Partial("_SidebarAdminPartial")
    <main class="main-wrapper">
        @Html.Partial("_TopBarAdminPartial")
        @RenderBody()
    </main>
   
    @Html.Partial("_ScriptsPartial")
</body>
</html>
