<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/Admin/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/Admin/lineicons.css" />
    <link rel="stylesheet" href="~/Content/Admin/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/Content/Admin/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/Admin/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/Admin/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css"
          rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header style="height:62px">
        @RenderSection("Header", required: false)
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                @RenderSection("LeftNavigator", required: false)
            </div>
            <div class="col-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Project Sem3 - 2023 - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>

    @*toast*@
    <div class="position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast hide text-black">
            <div class="toast-header">
                <img src="~/Content/img/signature.png" style="width:30px; height:18px" class="rounded me-2" alt="...">
                <strong class="me-auto"></strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close float-end" onclick="OnHideToast()" data-bs-dismiss="toast"></button>
            </div>

            <div class="toast-body" id="toastMes">

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>     